attrs==21.2.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==3.4.8
Cython==3.0.0
defusedxml==0.7.1
dl==0.1.0
docutils==0.20.1
flatbuffers==23.5.26
HTMLParser==0.0.2
ipython==8.14.0
ipywidgets==8.1.0
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
numpy==1.21.5
pandas==2.0.3
Pillow==9.5.0
Pillow==9.0.1
Pillow==10.0.1
protobuf==3.12.4
pyOpenSSL==21.0.0
pyOpenSSL==23.2.0
PyQt5==5.15.9
PyQt5_sip==12.9.1
railroad==0.5.0
Sphinx==7.2.2
tornado==6.1
trove_classifiers==2023.8.7
truststore==0.7.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
